$select: ".fp-nav" !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// components
@use "Shared/scss/templates/base/components/fp-nav";

@mixin base {
    @include fp-nav.base;

    @media all and (min-width: queries.get(document-mobile-portrait)) {
        @include fp-nav.hide;
    }

    #{$select} {
        font-size: 1.5rem;

        &__a {
            background: colors.get(primary);

            &:hover,
            &:focus {
                background: colors.get(primary-dark);
            }

            &--order {
                background: red;

                &:hover,
                &:focus {
                    background: rgb(250, 42, 42);
                }
            }
        }

        @content;
    }
}
