$select: ".offer-details" !default;

// abstracts
@use "Shared/scss/templates/base/abstracts/space";

@mixin base {
    #{$select} {
        max-width: 87ch;
        margin-inline: auto;

        @include space.between-flow-elements;

        > small {
            display: block;
            line-height: 1.75;
        }

        @content;
    }
}
