$select: ".message" !default;

// components
@use "Shared/scss/templates/base/components/validate" with (
    $select: $select,
    $separator: "",
    $font-size: 1em,
    $attribute: [required]
);

@mixin base {
    @include validate.base;

    #{$select} {
        &__group {
            order: 1;
        }

        &__group &__label {
            display: block;
        }

        @content;
    }
}

@mixin checkbox {
    #{$select} {
        &--checkbox {
            #{$select} {
                &__invalid {
                    margin-top: 1rem;
                }
            }

            @content;
        }
    }
}
