$select: ".content" !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// abstracts
@use "Shared/scss/templates/base/abstracts/group";
@use "Shared/scss/templates/base/abstracts/space";
@use "Shared/scss/templates/base/abstracts/background";
@use "Shared/scss/templates/base/abstracts/list";

@mixin base {
    #{$select} {
        text-align: center;

        overflow: hidden;

        @include background.image-container;

        &__bkg {
            @include background.image-background;
        }

        &__group {
            @include group.contain-flex($gap: 0.5rem) {
            }
            justify-content: center;
        }

        &__title {
            font-size: clamp(fonts.cascade-em(30), 3vw, fonts.cascade-em(55));
            font-family: fonts.get(primary);
            font-weight: bold;
            line-height: 1.1;
            color: var(--color-second);
            text-align: center;
            text-transform: uppercase;
        }

        &__headline {
            font-family: fonts.get(base);
            font-size: clamp(fonts.cascade-em(20), 3vw, fonts.cascade-em(30));
            font-weight: bold;
            color: colors.get(primary);
            line-height: 1.15;
            text-transform: uppercase;
        }

        &__text {
            @include space.between-flow-elements;
        }

        &__info + &__info {
            margin-top: 2rem;
        }

        @content;
    }
}

@mixin sub-page {
    #{$select} {
        &--sub-page {
            text-align: left;

            h2 {
                font-size: 1.75em;
                margin: 2em 0 0.5em;
                text-transform: uppercase;
                color: colors.get(primary);
            }

            ul,
            ol {
                @include list.structure($offset: 1.5rem, $gap: 1rem);
            }

            ol {
                list-style-type: decimal;

                > li {
                    display: list-item;
                }
            }

            ul {
                @include list.bullet($bullet: "•", $size: 1em) {
                }
            }

            a {
                display: inline-block;
            }

            #{$select} {
            }

            @media all and (max-width: queries.get(document-mobile-portrait)) {
                h2 {
                    font-size: 4.5vw;
                }
            }

            @content;
        }
    }
}

@mixin picture-text {
    #{$select} {
        &--picture-text {
            #{$select} {
                &__block {
                    margin-bottom: 0;
                }

                &__group {
                    @include group.gutter(1rem);
                }

                &__picture {
                    flex-basis: queries.em(473);
                }

                &__text {
                    flex-basis: 20em;
                    flex-grow: 1;
                }

                @media all and (max-width: queries.set(960)) {
                    &__text {
                        flex-basis: 100%;
                        max-width: queries.em(473);
                    }
                }
            }

            @content;
        }
    }
}

@mixin in-use {
    #{$select} {
        &--in-use {
            #{$select} {
                &__figure {
                    font-size: fonts.em(24);
                }
            }

            @content;
        }
    }
}

@mixin text-video {
    #{$select} {
        &--text-video {
            background: colors.get(accent-pastel);

            p {
                font-size: fonts.em(18);
            }

            #{$select} {
                &__group {
                    justify-content: space-around;
                    align-items: center;
                    @include group.gutter(1rem);
                }

                &__text {
                    flex-basis: 26em;
                    text-align: left;
                }

                &__video {
                    flex-basis: queries.em(480);
                }

                @media all and (max-width: queries.set(970)) {
                    &__text {
                        flex-basis: queries.em(480);
                    }

                    &__footer {
                        flex-basis: 100%;
                    }
                }
            }

            @content;
        }
    }
}

@mixin communities {
    #{$select} {
        &--communities {
            @include background.color-map(
                colors.get(accent-dark),
                colors.get(base-light)
            );

            #{$select} {
                &__title {
                    color: currentColor;
                    font-size: fonts.em(27);
                    line-height: 1.25;
                }
            }

            @content;
        }
    }
}

@mixin customer-reviews {
    #{$select} {
        &--customer-reviews {
            #{$select} {
                &__picture {
                    max-width: queries.em(137);
                    margin-left: auto;
                    margin-right: auto;
                }

                &__text {
                    font-size: fonts.em(18);
                }

                &__title {
                    [data-content-title-icon]::before {
                        content: attr(data-content-title-icon);
                    }
                }

                @media all and (max-width: queries.get(document-mobile-portrait)) {
                    &__title {
                        max-width: 7em;
                        margin: auto;

                        [data-content-title-icon]::before {
                            display: none;
                        }
                    }
                }
            }

            @content;
        }
    }
}

@mixin founder {
    #{$select} {
        &--founder {
            background: colors.get(primary-mid);
            background-repeat: no-repeat;
            background-size: cover;
            color: colors.get(base-light);
            padding: 1em 0;

            @include background.image-container() {
                &__bkg {
                    @include background.image-background;
                }
            }

            #{$select} {
                &__bkg {
                    filter: blur(0.25em);
                }

                &__title {
                    color: colors.get(base-light);
                }

                &__row {
                    display: flex;
                    align-items: center;
                    margin: 2em 0;

                    img {
                        flex-basis: 30em;
                    }

                    figcaption {
                        text-align: left;
                        margin: 0 1em;
                        max-width: 750px;
                        cite {
                            font-style: normal;
                            text-transform: uppercase;
                            font-family: fonts.get(base);
                            font-weight: bold;
                        }
                    }

                    &:last-child {
                        flex-direction: row-reverse;
                    }
                }

                &__link {
                    font-style: italic;
                    text-decoration: underline;
                    margin-top: 0;
                    font-family: fonts.get(base);
                    font-weight: 600;
                }

                &__images {
                    //margin-top: 2em;
                    //padding-top: 2em;
                    padding-bottom: 4em;
                    border-bottom: 2px solid colors.get(base-light);
                    figure {
                        margin: 0 0.25em;
                    }
                }

                &__image {
                    background: colors.get(accent);
                    border-radius: 10em;
                    overflow: hidden;
                    flex-basis: 25em;
                }

                &__into {
                    display: flex;
                }

                &__item {
                    flex-basis: 11em;
                }

                &__text {
                    display: flex;
                    flex-direction: column;
                    padding: 1em 0;

                    h3 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                        font-family: fonts.get(base);
                        font-weight: bold;
                        font-size: 1em;
                    }
                }

                @media screen and (max-width: 850px) {
                    &__row {
                        flex-wrap: wrap;
                        justify-content: center;

                        img {
                            flex-basis: 15em;
                        }
                    }

                    &__text {
                        h3 {
                            min-height: 3em;
                        }
                    }

                    &__image {
                        flex-basis: 10em;
                    }
                }
            }
            @content;
        }
    }
}

@mixin info {
    #{$select} {
        &--info {
            #{$select} {
                &__group {
                    justify-content: space-around;
                    padding-bottom: 5em;
                }

                &__list {
                    flex-basis: 29em;
                    text-align: left;
                    margin-left: 3em;

                    li {
                        margin-bottom: 1em;
                        min-height: 3em;
                        align-items: center;
                    }
                }

                &__title {
                }

                &__text {
                    flex-basis: 32em;
                    text-align: left;
                }

                &__button {
                    position: relative;
                    top: -1.5em;
                }
            }
            @content;
        }
    }
}

@mixin confirmation {
    #{$select} {
        &--confirmation {
            --section-container: #{queries.set(1150)};
            --section-block: 4rem 0;

            @include fonts.base-em(25);

            p {
                font-size: clamp(0.5em, 4vw, 1em);
            }

            #{$select} {
                &__title {
                    margin-block: 2rem;
                }

                &__image {
                    max-width: queries.cascade-em(890);
                    margin: 2rem auto;
                }

                &__info {
                    max-width: 20em;
                    margin-inline: auto;

                    > b {
                        display: block;
                        text-transform: uppercase;
                    }
                }
            }

            @content;
        }
    }
}

@mixin confirmation-article {
    #{$select} {
        &--confirmation-article {
            text-align: left;

            #{$select} {
            }

            @content;
        }
    }
}
