$select: ".header" !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// abstracts
@use "Shared/scss/templates/base/abstracts/group";
@use "Shared/scss/templates/base/abstracts/background";

@mixin base {
    #{$select} {
        @include background.color-map(
            colors.get(base-light),
            colors.get(accent)
        );

        font-size: 1.03em;

        &__in {
            padding: 1rem;
        }

        &__group {
            @include group.contain;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        &__logo {
            max-width: queries.em(108);
            width: 100%;
        }

        &__title {
            flex-basis: auto;

            font: 600 fonts.em(29) / 1.35 fonts.get(primary);
            text-align: center;
        }

        &__action {
            flex-basis: auto;
        }

        @media all and (max-width: queries.set(900)) {
            font-size: 2vw;

            &__action {
                display: none;
            }
        }

        @content;
    }
}
