$select: ".radio-group" !default;

// abstracts
@use "Shared/scss/templates/base/abstracts/group";
@use "Shared/scss/templates/base/abstracts/space";

@mixin base {
    #{$select} {
        @include space.between-flow-elements($gap: 1rem) {
        }

        &__group {
            @include group.contain-flex($gap: 0.5rem) {
            }

            justify-content: flex-start;
        }

        &__take-all {
            flex-basis: 100%;

            @include space.between-flow-elements($gap: 1rem) {
            }

            &:not(:last-child) {
                border-bottom: 2px solid #ccc;
                padding-bottom: 1rem;
            }

            padding-inline: 1rem;
        }

        @content;
    }
}
