$select: ".review" !default;

// config
@use "./../config/colors";
@use "./../config/queries";
@use "./../config/fonts";

// abstracts
@use "Shared/scss/templates/base/abstracts/group";
@use "Shared/scss/templates/base/abstracts/background";
@use "Shared/scss/templates/base/abstracts/space";
@use "./../abstracts/button";

@mixin base {
    #{$select} {
        &__header {
            text-align: center;

            @include fonts.base-em(20);

            padding-block: 2rem;
        }

        &__title {
            text-transform: uppercase;
            font-family: fonts.get(primary);
                line-height: 1.25;
            font-size: clamp(fonts.cascade-em(40), 1vw, fonts.cascade-em(55));
        }

        &__figure {
            padding-block: 2.5rem;

            @include group.contain-flex($gap: 2rem) {
            }

            @include fonts.base-em(16);

            picture {
                max-width: queries.cascade-em(150);
            }

            figcaption {
                flex-basis: 30em;
                flex-grow: 1;

                @include space.between-flow-elements($gap: 0.5rem) {
                }

                display: flex;
                flex-direction: column;
            }

            h3 {
                font-size: fonts.cascade-em(25);
                line-height: 1;
            }

            cite {
                font-weight: bold;
                font-style: normal;
            }
        }

        &__footer {
            text-align: center;

            @include button.for-row;
        }

        @media all and (min-width: queries.section-container(900)) {
            --slide-container-display: block;
            --slide-nav-container-display: none;

            &__list {
                --carousel-slide-length: 100%;
            }

            &__item:not(:last-child) {
                border-bottom: 2px solid #ccc;
            }

            &__figure {
                max-width: 104ch;
                margin-inline: auto;
            }
        }

        @media all and (max-width: queries.section-container(900)) {
            text-align: center;

            &__header {
                font-size: clamp(0.5em, 3.25vw, 1.5em);

                > p {
                    max-width: 43ch;
                    margin-inline: auto;
                }
            }

            &__figure {
                flex-direction: column;
                align-items: center;

                font-size: clamp(0.5em, 3.25vw, queries.em(18));

                h3 {
                    font-size: inherit;
                }
            }

            &__footer {
                position: sticky;
                bottom: 0;
                z-index: 2;

                box-shadow: inset 0 -2em 2em white;

                margin-inline: auto;
                padding-inline: 1rem;
                padding-bottom: 1rem;
            }
        }

        @content;
    }
}
