@use "sass:map";

@forward "Shared/scss/templates/base/config/units";

$list: (
    base: (
        montserrat,
        Arial,
        Helvetica,
        sans-serif
    ),
    primary: (
        montserrat,
        Helvetica,
        sans-serif
    )
);

@function get($name) {
    @return map.get($list, $name);
}
